
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body{
    max-width: 1440px;
}
.nav-container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    display: flex;
    align-items: center;
}
.links>ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.links>ul>li>a{
    text-decoration: none;
    /* list-style: none; */
    /* font-style: none; */
}
#img1{
    width: 62px;
    height: 62px;
}
.logo-heading{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
    font-size: 2rem;
}
#orange{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;  
    color: orange;
    font-size: 1.25rem;
}
#blue{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: medium;  
    color:skyblue;
    font-size: 1.25rem;

}
#aqua{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: medium;  
    color: #05D4DF;
    font-size: 1.25rem;
}
#velvet{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: medium;  
    color: #5D58EF;
    font-size: 1.25rem;
 
}
.btn1{
    color: white;
    background-color: orange;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size: 1.25rem;
    font-style: semibold;  
    padding: 10px 30px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
}
.head{
    display: flex;
    gap: 20px;
    width: 1150px;
    margin: 10px auto;
}
.head-title{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 3.5rem;
}
.head-description{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: regular;
    font-size: 1.25rem;
}
.btn2{
    color: white;
    background-color: black;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.25rem;
    font-style: bold;  
    padding: 10px 30px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;

}
.menubar{
    display: none;
}
#empower{
    color: orange;
}
#vision{
    color:skyblue;
}
.img2{
    width: 460px;
    height: 575px;
}
/* for small device */
@media screen and(max-width:576px) {
    .logo-head{
        /* display: none; */
        visibility: hidden;
    }
    .links>ul{
        display: none;
    }
    .btn{
        display: none;
    }
}
/* for small device */
/* curriculum part design */
.curriculum{
    margin-top: 2rem;
    background-image: url('../assets/bg.png');
    width: 1160px;
    margin: 10px auto;
}
.curriculum-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 50px;
}
.curriculum-title{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;  
    font-size: 2.8rem;
    text-align: center;
    margin: 50px 0px 80px 0px;
}
.kinder{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    border: 0.3px solid #05D4DF;
    background-image: linear-gradient(to bottom,rgba(222, 245, 255, 1) 2%, white 100%);
    text-align: center;
    padding: 30px 20px 0px 20px;
    /* align-items: center; */
    /* justify-content: center; */
}
.elementary{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    border: 0.2px solid rgba(240, 170, 0, 1);
    background-image: linear-gradient(to bottom,rgba(255, 244, 220, 1) 2%, white 100%);
    text-align: center;
    padding: 30px 20px 0px 20px;

}
.middle{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    border: 0.1px solid rgba(135, 0, 255, 1);
    background-image: linear-gradient(to bottom,rgba(242, 232, 255, 1) 1%, white 100%);
    text-align: center;
    padding: 30px 20px 0px 20px;

}
.title{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;
    font-size: 1.5rem;
}
.k-description{
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 1);
    margin: 20px auto;
    padding: 100px auto;
}
.btn3{
    color: #05D4DF;
    border: none;
    background-color: white;
    margin-top: 20px;
}
.btn4{
    color:rgba(240, 170, 0, 1);
    border: none;
    background-color: white;
    margin-top: 20px;

}
.btn5{
    color:rgba(135, 0, 255, 1);
    border: none;
    background-color: white;
    margin-top: 20px;
}
.case{
    display: flex;
    gap: 20px;
    text-align: center;
    margin: 20px 630px;
}
.lower-case{
    background-color: orange;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#less{
    color: white;
    margin: 0px auto;
    padding: 20px;
}
.upper-case{
    background-color: orange;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px; 
}
#greater{
    color: white;
    margin: 0px auto;
    padding: 20px;

}
/* story style part */
.story{
    max-width: 1440px;
    height: 850px;
    background-image: url('../assets/bg.png'),linear-gradient(to top, rgba(254, 163, 1, 1) 30%, white);
}
.story-heading{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;  
    font-size: 2.8rem;
    text-align: center;
    text-align: center;
    margin: 50px auto;
}
.story-card{
    width: 1160px;
    display: flex;
    margin: 0px auto;
    gap: 20px;
    /* justify-content: center; */
}
.sub{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.main-card{
    text-align: center;
    background-color: white;
    border-radius: 20px 20px;
    width: 500px;
    height: 600px;
    /* border-radius: 10px 0px 10px 0px; */
}
.main-img{
    width: 500px;
    height: 350px;
    /* border:3px solid  #05D4DF; */
    border-radius: 20px 20px 0px 0px;
}
.btn-6{
    font-family: Raleway;
    color: white;
    background-color: rgba(60, 216, 232, 1);
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1rem;
    font-style: bold;  
    padding: 10px 30px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    /* margin-left: -500px; */
    /* margin-top: -400px; */
    /* margin-bottom:-400px ; */
}
.btn6{
    margin-top: -20px;
    margin-left: -250px;
}
.main-card-heading{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;  
    font-size: 1.25rem;
    text-align: left;
    padding: 0px 20px ;

}
.main-card-description{
    color: rgba(102, 102, 102, 1);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: medium;  
    font-size: 0.8rem;
    text-align: left;
    height: 50px;
    padding: 0px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
/* div.main-card-description:hover{
    overflow: visible;
} */
 .sub-card{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 290px;
    height: 290px;
 
 }
 .sub-image{
    width:290px ; 
    height: 177px;  
    border-radius: 20px 20px 0px 0px; 
 }
 .sub-heading{
    padding: 10px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: bold;  
    font-size: 0.8rem;
    text-align: left;

 }
 .btn7{
    font-family: Raleway;
    color: white;
    background-color:rgba(149, 178, 38, 1);
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: .8rem;
    font-style: bold;  
    padding: 8px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;

 }
.btn-s{
    margin-top: -20px;
    margin-left: -70px;

}
.btn8{
    font-family: Raleway;
    color: white;
    background-color:rgba(93, 88, 240, 1);
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: .8rem;
    font-style: bold;  
    padding: 8px 20px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
}
.btn-v{
    margin: 50px;
    text-align: center;
}
/* footer style */
.foot{
    display: flex;
}
.footer{
    color: white;
    background-color: rgba(1, 172, 253, 1);
}
.footer-icon{
    display: flex;
    align-items: center;
}
.footer-heading{
    display: block;
}